::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(333deg, 80%, 67%);
}

::-webkit-scrollbar-track {
  background-color: hsl(300deg, 43%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  text-transform: capitalize;
  line-height: 1.8;
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
  background-size: 100% 25%, 100% 30%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 800px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-size: 50% 30%, 75% 80%;
  }
}

i,
a,
button {
  cursor: pointer;
}

.container {
  margin: auto;
  padding: 0 1em;
}
@media (min-width: 800px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

main.main {
  padding: 4em 0;
}
main.main .top-section {
  max-width: 350px;
  margin: 3em auto 0;
  text-align: center;
  text-transform: none;
  margin-inline: auto;
}
@media (min-width: 800px) {
  main.main .top-section {
    margin-inline: unset;
  }
}
main.main .top-section h1 {
  color: hsl(300deg, 43%, 22%);
  line-height: 1;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1em;
}
main.main .top-section p {
  color: hsl(303deg, 10%, 53%);
  font-weight: 700;
}
main.main .bottom-section {
  margin-top: 5em;
  margin-bottom: 5em;
}
main.main .bottom-section .rating-box {
  background-color: hsl(300deg, 24%, 96%);
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.main .bottom-section .rating-box span {
  color: hsl(300deg, 43%, 22%);
  font-weight: 700;
  text-align: center;
}
main.main .cards .card {
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: hsl(300deg, 43%, 22%);
  color: hsl(300deg, 24%, 96%);
}
main.main .cards .card .img-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
main.main .cards .card .img-name-container img {
  border-radius: 50%;
  width: 50px;
}
main.main .cards .card .img-name-container .name span {
  display: block;
}
main.main .cards .card .img-name-container .name span:last-child {
  color: hsl(333deg, 80%, 67%);
}
main.main .cards blockquote {
  text-transform: none;
}
@media (min-width: 800px) {
  main.main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.main .container .top-section {
    margin: 0;
    text-align: left;
  }
  main.main .container .bottom-section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main.main .container .bottom-section .rating-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main.main .container .bottom-section .rating-box:first-child {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  main.main .container .bottom-section .rating-box:last-child {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  main.main .container .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  main.main .container .cards .card:nth-child(2) {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  main.main .container .cards .card:last-child {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}/*# sourceMappingURL=main.css.map */